# VS Code settings
.vscode

# Local History for Visual Studio Code
.history/

# Flask stuff:
instance/
.webassets-cache

# pyenv
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class