* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
  }

  .chat {
    border: 2px solid rgb(208, 63, 50);
    border-radius: 5px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-behavior: auto;
  }


  .textChat {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    list-style: none;
    height: auto;
  }



  .imgRoton {
    width: 100%;
  }

  .imgRoton img {
    width: 90px;
  }

  .user {
    text-align: right;
  }

  .roton {
    background-color: rgba(208, 63, 50, 0.068);
  }

  .inputText {
    margin-top: 10px;
    width: 85%;
    height: 40px;
    border: 0;
    border: 1px solid rgb(208, 63, 50);
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn {
    margin-top: 10px;
    width: 14%;
    height: 40px;
    border: 1px;
    background-color: rgb(208, 63, 50);
    color: #fff;
    cursor: pointer;
  }