* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Orbitron', sans-serif;
}

nav {
    padding-top: 5px;
    height: 30px;
    float: right;
}

nav strong {
    margin-left: 30px;
}

nav button {
    background-color: #fff;
}


.container {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 0.8s;
    animation-name: contentAnimation;
}

.contentRight {
    width: 50vw;
}



.contentLeft {
    width: 50vw;
    padding-left:50px;
    
}

.contentLeft img {
    width: 80%;
}


.contentRight {
    padding-right: 100px;
    padding-left: 10px;
  
}



.contentRight h1, p {
    margin-bottom: 25px;
    line-height: 25px;
}

.contentRight h1 {
    line-height: 43px;
    font-size: 36px;

}

.strongRed {
    color: rgb(208,63,50);
}




.btn {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    background-color: rgb(208,63,50);
    color: #fff;
    margin-bottom: 25px;
    margin-right: 5px;
    width: 260px;
    height: 60px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    box-shadow: 2px 2px 2px 1px;
    transition: 0.5s;
    
}

.btn:hover {
    transform: scale(1.05);
}



.btnGithub{

    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.582);
    width: 50px;
    height: 50px;
    padding: 0;
    
}






.equipe {
    width: 80%;
    height: auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.membro{
    width: 170px;
    text-align: center;
}

.membro h4 {
    font-size: 20px;
    padding: 30px;
}

.fotoEquipe{
    width: 100px;
    height: 100px;
    max-width:100px;
    max-height:100px;
    object-fit: cover;
    border-radius: 50%;

}

.secondContainer {
    width: 100%;
    background-color: rgb(208,63,50);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    
    justify-content:center;
    align-items: center;
    
}

.secondContainer h1 {
    color: #fff;
}

.card {
    text-align: center;
    color: #fff;
    margin: 50px;
    width: 300px;
    height: 170px;
    border: 3px solid #fff;
    border-radius: 5px;
}

.card h3 {
    margin-top: 10px;
}


.card img {
    width: 100%;
    height: 100%;
    max-width:100%;
    max-height:100%;
    object-fit: cover;
    
}

.thirdContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 90vh;
    width: 100%;
}

.btnDown{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    
}

.btnDown a{
    transition: 4s;
}

.btnDown a:hover{
    scroll-behavior: smooth;
}

.fa-angle-double-down {
    color: rgb(208,63,50);
}

.fa-angle-double-up {
    color: rgb(208,63,50);
}

.fa-white {
    color: #fff;
}

.secondContainer a {
    padding-top: 100px;
    margin-bottom: -60px;
}

.thirdContainer a{
    padding-top: 100px;
    margin-bottom: -80px;
}


@media(max-width: 700px){
    .container {
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .contentRight{
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .contentLeft{
        height: auto;
        width: 100%;
        padding: 20px;
    }
    .contentLeft img{
        width: 100%; 
    }

    .logo{
        margin-top: 10px;
    }

    
    .membro{
        margin: 10px;
        width: 200px;
        margin-bottom: 20px;
    }

    .fotoEquipe {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }

    .equipe{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .secondContainer{
        width: 100%;
        height: 1000px;

    }

    .card {
        margin: 0;
        margin-top: 60px;
    }

    .cards { 
        display: flex;
        flex-direction: column;
    }

    .thirdContainer {
        width: 100%;
        height: 1800px;
    }

    

}

@keyframes contentAnimation {
    from {
        margin-left: -100%;
       
      }
    
      to {
        margin-left: 0%;
      
      }
}



