<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap" rel="stylesheet">
    <title>Roton</title>
</head>
<body>

    <div class="content">
        <div class="imgRoton">
            <img src="../assets/Logo.png" alt="Roton">
        </div>
        <ul class="chat">
            <li class="textChat roton">Olá, User!</li>
            <li class="textChat user">Olá, Roton</li>
            <li class="textChat roton">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
            <li class="textChat user">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</li>
            
            
        </ul>

        <input class="inputText" value="" placeholder="Digite seu texto" />
        <button class="btn">Enviar</button>
    </div>
    
    
    
</body>
</html>